html{
    font-size: 10px;
    background-image: linear-gradient(to right, #00AAFF, #00FF6C);
}


.screen{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    width: 380px;
    display: flex;
    height: 100px;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .previous{
    font-size: 25px;
    color: rgba(255, 255, 255, .75);
}

.screen .current{
    font-size: 40px;
    color: white;
}


.wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 7%;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button{
    color: black;
    font-size: 30px;
    font-weight: 700;
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .75);

}

.button:hover{
    background-color: rgba(255, 255, 255, .9);
}